@page "/counter"
@* @attribute [Authorize(Roles = "admin")] *@

@* <AuthorizeView>
    <Authorized>
        YOU ARE AUTHENTICATED!
    </Authorized>
    <NotAuthorized>
        YOU ARE NOT AUTHENTICATED!
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="developer">
    <Authorized>
        YOU ARE AUTHORIZED!
    </Authorized>
    <NotAuthorized>
        YOU ARE NOT AUTHORIZED!
    </NotAuthorized>
</AuthorizeView> *@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    protected override async Task OnInitializedAsync()
    {
        //await authenticationStateProvider.GetAuthenticationStateAsync();
    }
    
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
    }
}