@model PaletteViewModel;
@inject IConfiguration configuration;

@{
    ViewData["Title"] = "Home Page";

    string secret = configuration
        .GetSection("MyOption")
        .GetSection("Test")
        .GetSection("secret")
        .Get<string>();
}

<style>
    .cube {
        width: 100px; 
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="cube" style="background-color: @Model.Palette.background; color: @Model.Palette.foreground;">
    @configuration["MyOption:Test:secret"]
</div>
